@model IEnumerable<LoginPersona.Models.Persona>

<h2>Registro de Personas</h2>

<style>
    body {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/15/Coat_of_arms_of_Guatemala.svg'); /* Ruta de la imagen */
        background-size: 43%; 
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-position: right;
    }

    .content-container {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        margin: 50px auto;
        border-radius: 20px;
        max-width: 800px; 
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
    }
</style>

<a href="@Url.Action("Create", "Persona")" class="btn btn-success">Crear</a>

<form method="post" asp-action="Search" class="mt-3">
    <div class="form-group">
       <label for="nombre" style="display: inline-block; width: 180px;">Buscar Persona</label>
       <input type="text" id="nombre" name="nombre" class="form-control"
        style="display: inline-block; width: auto;" />
       <button type="submit" class="btn btn-primary mt-2">Buscar</button>
    </div>
</form>


<table class="table mt-3" style="border: 1px solid #ddd; border-collapse: 
       collapse; width: 85%; text-align: left;">

    <thead style="background-color:lightseagreen; color:darkslategray; text-align: center;">
      <tr>
         <th style="padding: 9px;">Nombres</th>
         <th style="padding: 9px;">Apellidos</th>
         <th style="padding: 9px;">Edad</th>
         <th style="padding: 9px;">Correo</th>
         <th style="padding: 9px;">Acciones</th>
        </tr>
    </thead>
    <tbody>

      @foreach (var persona in Model)
        {
         <tr style="background-color:antiquewhite; border-bottom: 1px solid #ddd;">
         <td style="padding: 7px;">@persona.Nombre</td>
         <td style="padding: 7px;">@persona.Apellido</td>
         <td style="padding: 7px;">@persona.Edad</td>
         <td style="padding: 7px;">@persona.Correo</td>
         <td style="padding: 7px; text-align: center;">
         <a href="@Url.Action("Edit", "Persona", new { id = persona.Id })" 
         class="btn btn-warning btn-sm">Editar</a>
         <a href="@Url.Action("Delete", "Persona", new { id = persona.Id })" 
         class="btn btn-danger btn-sm">Eliminar</a>
            </td>
            </tr>
        }
  </tbody>
</table>

<a href="@Url.Action("Logout", "Persona")" class="btn btn-secondary mt-3">Cerrar Sesión</a>
 